certifi==2020.12.5
chardet==4.0.0
idna==2.10
importlib-metadata==3.4.0
Markdown==3.3.3
numpy==1.20.0
opencv-python==4.2.0.34
Pillow==6.2.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
requests==2.25.1